/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/citybikefinland.jpg");
    background-size: "cover";
    height: 100vh;
    width: 100%;
    background-repeat:no-repeat; 
    filter: blur(2px);   
  }
  /* Place text in the middle of the image */
.hero-text {
    text-align: center;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border: 3px solid #f1f1f1;
    padding: 1px;
  }
  .h1{
    font-size:75px;
    margin:10px
  }
  .btnJourney{
    color: orange;
    top: 70%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .btnStation{
    color: orange;
    top: 70%;
    left:40%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .btnSingleStation{
    color: orange;
    top: 70%;
    left:60%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
