.dark_modal {
    background-color: rgb(19, 19, 18);
    color: rgb(255, 255, 255);
}

.h3 {
    color: orange;
}

.p{
    font-weight: bold;
}
.span{
    font-style: italic;
    font-weight: normal;
    margin-left: 5%;

}